#root {
  max-width: 465px;
  max-height: 1008px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #060707;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login.css */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.App {
  text-align: center;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Add more styles as needed */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black; /* Set the background color of the container */
  border-color: black;
  width: 393px;
}

.login-logo {
  max-width: 200px;
  max-height: 300px;
  background-color: black;
}

.input-field {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: black;
  color: yellow;
  font-size: 16px;
  outline: none;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-container input {
  border-color: yellow;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: black;
  color: yellow;
  font-size: 16px;
  outline: none;
  outline-color: yellow;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  width: 440px;
  padding: 0px 0px 0px 0px;
  height: 50px;
  padding: 13px;
   background: rgba(0, 0, 0, 0.5);
  background-blend-mode: hard-light;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
}

.champions-header {
  margin: 0 auto;
  text-align: center;
font-family: 'SF UI Text';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 22px;
color: #FFFFFF;
flex: none;

}
.spinner {
  height: 22px;
  width: 22px;
  color: yellow;
}

.bottom-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px; /* Adjust the gap between icon and text */
  width: 156.5px;
  padding: 0px 55px;
  height: 41px;
  order: 0;
  flex-grow: 1;
}

.icon-white {
  color: white;
  width: 22px;
  height: 22px;
}

.icon-text {
  color: white;
  font-size: 10px;
  font-weight: 510;
line-height: 12px;
 width: 44px;
 height: 12px;
  text-align: center;
  text-decoration: none; 
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  width: 465px; /* Set width to match the specified size */
  height: 1008px; /* Set height to match the specified size */
  margin: auto; /* Center horizontally */
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 8px 30px 8px; 
  width: 325px;
  height: 36px;
  border-radius: 10px;
}

.top-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 16px;
  width: 465px;
  top: 0;
  height: 81px;
  position: fixed;
  /* background-color: black; */
  backdrop-filter: blur(16px);
  /* position: relative; */
}

.search-container input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 8px;
  background: rgba(255, 255, 255, .080);
  width: 325px;
  height: 36px;
  border-radius: 10px;
}

.plus-sign {
  color: rgba(221, 192, 106, 1);

  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: (221, 192, 106, 1);
  padding-right: 10px;
}
.card-container {
  width: 465px; 
  padding-top: 50%;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge *//* Set width to match the specified size */
}

.card-container .card:hover .description {
  display: none !important;
}

/* App.css */

/* Other styles */

.card {
  flex-direction: row;
  background-color: rgba(255, 255, 255, .080);
  color: white;
  font-family: "Artbrush", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  /* font-weight: 400; */
  line-height: 16px;
  width: 465px;
  padding: 16px 24px 16px 0PX;
  /* height: px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height:min-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  overflow-y: auto;
}
.card-title{
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 24px;
  padding-left: 20px;
  line-height: 26.03px;
}
.card-content {
  width: 325px;
}

.arrow {
  width: 20px; /* Set width to match the specified size */
  height: 20px; /* Set height to match the specified size */
  border-top: 1.5px solid transparent; /* Set border */
  border-bottom: 1.5px solid transparent; /* Set border */
}

/* Remove hover effect */
.card:hover .description {
  display: none !important;
}

.icon-arrow {
  color: rgba(221, 192, 106, 1);
  width: 32px;
  height: 64px;
  margin: 0 auto;

}

/* App.css */
.arrow {
  font-size: 20px;
  cursor: pointer;
}

.down {
  transform: rotate(90deg);
}
@font-face {
  font-family: "Artbrush";
  src: url("../src/Artbrush.ttf") format("truetype"); /* Adjust the path as necessary */
}
